# Node.js dependencies
node_modules/
package-lock.json

# Environment and configs
.env

# PDF uploads and OCR output
uploads/
debug_text/
debug_text/crops/
debug_text/debug/

# Temporary images
#*.png
#*.jpg
#*.jpeg

# Local PDFs and test files
*.pdf

# Logs
*.log
npm-debug.log*

# VS Code / IDE cache
.vscode/
.idea/
.DS_Store
Thumbs.db
